<template>
  <div class="home">
  	<v-progress-linear :indeterminate="true" v-if="getLoading == 1"></v-progress-linear>
  	<Login v-if="getLogin == null && getLoading == null"/>
  	<Maps/>
    <!-- <img alt="Vue logo" src="../assets/logo.png">
    <HelloWorld msg="Welcome to Your Vue.js App"/> -->
  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from '@/components/HelloWorld.vue'
import Login from '@/components/Login.vue'
import Maps from '@/components/Maps.vue'

export default {
  name: 'home',
  components: {
    HelloWorld,
    Login,
    Maps
  },
  computed:{
  	getLogin(){
  		return this.$store.getters.getLogin
  	},
  	getLoading(){
  		return this.$store.getters.getLoading
  	}
  }
}
</script>
