<template>
  <div>

    <v-flex xs12 sm12 md12 lg12 xl12>
    <v-card>
  <v-form ref="form" v-model="valid" lazy-validation>
    
    <v-text-field
      v-model="email"
      :rules="emailRules"
      label="E-mail"
      required
    ></v-text-field>

    <v-text-field
      v-model="password"
      :rules="passwordRules"
           label="Password"
      required
      type="password"

    ></v-text-field>
  

    <v-btn
      :disabled="!valid"
      @click="submit"
    >
      submit
    </v-btn>
    <v-btn @click="clear">clear</v-btn>
  </v-form>
  <v-card-text>
    
  </v-card-text>
  </v-card>
</v-flex>




  </div>
</template>
<script>
  import axios from 'axios'

  export default {
    data: () => ({
      valid: true,
      password: '',
      passwordRules: [
        v => !!v || 'Name is required',
        v => (v && v != '') || 'Escriba su contraseña'
      ],
      email: '',
      emailRules: [
        v => !!v || 'E-mail is required',
        v => /.+@.+/.test(v) || 'E-mail must be valid'
      ]
    }),

    methods: {
      submit () {
        var vm = this
        if (this.$refs.form.validate()) {
          vm.$store.dispatch('setLoading', 1)
          // Native form submission is not yet supported
          axios.post('https://www.cloud-shipping.com/a/user/token',
            {},
          {
            auth: {
             
            username: this.email,
            password: this.password,
  }
          }).then(function(res){
              //vm.$store.state.token = res.data.token
              vm.$store.dispatch('setToken', res.data.token)
              vm.$store.dispatch('setLogin', 1)
              vm.$store.dispatch('setLoading', null)
              vm.$router.push({name:'about'})
              console.log(res.data.token)
          })
        }
      },
      clear () {
        this.$refs.form.reset()
      }
    }
  }
</script>