<template>
	<div>
		<v-flex xs12 sm12 md12 lg12 xl12>
			<v-text-field
            label="Prepend"
            prepend-icon="place"
            v-model="zoom"
            type= "text"
			minlength="1"
			maxlength="2"
			pattern="/^([1-9]|10)$/"
			mask="##"
			:rules="zoomRules"
          ></v-text-field>
		<h1>Autocomplete Example (#164)</h1>

    <label>
      AutoComplete
      <gmap-autocomplete
        @place_changed="setPlace">
      </gmap-autocomplete>
      <button @click="usePlace">Buscar</button>
    </label>
    <br/>

    <Gmap-Map style="width: 100%; height: 300px;" :zoom="zoom" :center="center">
      <Gmap-Marker v-for="(marker, index) in markers"
        :key="index"
        :position="marker.position"
        
        ></Gmap-Marker>
      <Gmap-Marker
        v-if="this.place"
        infoText= "hola"
        :label="this.place.name"
        :position="{
          lat: this.place.geometry.location.lat(),
          lng: this.place.geometry.location.lng(),
        }"
        
        ></Gmap-Marker>
</Gmap-Map>
		</v-flex>

		<v-flex>
			<ul>
				<li v-for="marker in markers">{{marker.label}} {{ marker.position }}</li>
			</ul>
		</v-flex>
	</div>
</template>
<script>
  
  export default {
  	data: () => ({

      markers: [],
      place: null,
      center: {lat: -1.019790, lng: -78.794666},
      zoom: 2,
       zoomRules: [
        v => !!v || 'Name is required',
        v => (v && v <= 10) || 'Maximo 10'
      ],

    }),
    watch:{
    	zoom:function(){
    		
	    		if(this.zoom == '' || this.zoom == null){
	    			
	    			this.zoom = 1
	    		}else{
	    				if(parseInt(this.zoom) > 10){
	    					this.zoom = 10
	    				}else{
	    					this.zoom = parseInt(this.zoom)
	    				}
	    		}
    	    
    	}
    },
    methods: {

      setDescription(description) {
        this.description = description;
      },
      setPlace(place) {
        this.place = place
        this.usePlace(place)
      },
      usePlace(place) {
        if (this.place) {
          this.markers.push({
            position: {
              lat: this.place.geometry.location.lat(),
              lng: this.place.geometry.location.lng(),
            },
            label: this.place.name
            
          })
          
          this.center = {lat: this.place.geometry.location.lat(), lng: this.place.geometry.location.lng()}
          this.zoom = 5
          console.log(this.place.name)
          this.place = null;
        }
      }
    }
  	}
</script>