<template>
  <div id="app">
    <!-- <div id="nav">
      <router-link to="/">Home</router-link> |
      <router-link to="/about">About</router-link>
    </div> -->
    <v-app>
      <v-content>
        <Menu/>
    <v-container fluid>
      
       <router-view/>
    </v-container>
  </v-content>
   
  </v-app>
  </div>
</template>
<script>
// @ is an alias to /src
import Menu from '@/components/Menu.vue'

export default {
  
  components: {
    Menu
  }
}
</script>


